/**
* @file
* All colors used on the website are defined here
*/

//example:
//$color-black: #000000;
$color-white: #FFFFFF;
$color-orange: #F5A623;
$color-blue--dark: #1D428A;
$color-black: #111111;
$color-red: #FF4136;
$color-grey: #AAAAAA;
